<!doctype html>
<html>
    <head>
        <title>Vue QR-Code Reader DEMO</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

        <script src="https://unpkg.com/vue-qrcode-reader@1.3.1/dist/vue-qrcode-reader.browser.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/vue-qrcode-reader@1.3.1/dist/vue-qrcode-reader.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            p {
                padding: 20px;
            }

            .error {
                color: red;
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <p v-if="pageThree">
                Sorteo:
                <b>
                    <span v-if="lotteryData.game === '2'">Bonoloto</span>
                    <span v-if="lotteryData.game === '1'">Primitiva</span>
                    <span v-if="lotteryData.game === '7'">Euromillón</span>
                </b>

                <br>

                {{lotteryData.draw.code }}
                {{lotteryData.draw.day }}
                {{lotteryData.draw.month }}
                {{lotteryData.draw.year }}

                <br>

                Apuestas:
                <br>
                <b v-for="bet in lotteryData.bets">
                    {{bet}}
                    <br>
                </b>

                Reintegro:
                <br>
                <b>
                    {{lotteryData.reintegro}}
                    <br>
                </b>
            </p>

            <p v-if="pageThree">Detalle escaneado: <b>{{ decodedContent }}</b></p>
            <p v-if="pageThree" class="error">{{ errorMessage }}</p>
            <p v-if="pageOne">
                Tendrás que dar permiso a la cámara
                <br>
                <button v-on:click="changePage(2)" class="btn-primary btn">Escanear</button>
                <a class="btn-primary btn"><a href="./barcode.html">Lotería</a>
            </p>
            
            <qrcode-stream v-if="pageTwo" @decode="onDecode" @init="onInit"></qrcode-stream>
        </div>
        <script>
            Vue.use(VueQrcodeReader)

            new Vue({
                el: '#app',

                data () {
                    return {
                        pageOne: true,
                        pageTwo: false,
                        pageThree: false,
                        scan: false,
                        scanned: false,
                        decodedContent: '',
                        lotteryData: {
                            bets: [],
                        },
                        errorMessage: ''
                    }
                },
                computed: {
                    showCamara() {
                        return this.scan && !this.scanned;
                    }
                },

                methods: {
                    changePage (page) {
                        this.pageOne = page === 1;
                        this.pageTwo = page === 2;
                        this.pageThree = page === 3;
                    },

                    onDecode (content) {
                        this.decodedContent = content;
                        this.lotteryData = this.decodeLotteryCode(content);
                        this.changePage(3);
                    },

                    decodeLotteryCode(lotteryCode) {

                        var betData = {
                            code: this.getLotteryData(lotteryCode, "A"),
                            game: this.getLotteryData(lotteryCode, "P"),
                            draw: this.getDateAndNumber(this.getLotteryData(lotteryCode, "S")),
                            bets: this.getBets(this.getLotteryData(lotteryCode, ".1")),
                            reintegro: this.getLotteryData(lotteryCode, "R")
                        }

                        console.log(betData.bets);
                        
                        return betData;

                    },
                    attachGameOneData(lotteryCode, data) {

                    },
                    attachGameTwoData(lotteryCode, data) {

                    },

                    getBets(betsData) {
                        var bets = betsData.split('.');
                        bets.forEach(function(bet, i) {
                            bets[i] = bet.substr(bet.indexOf('=') + 1);
                        });
                        return bets;
                    },

                    getDateAndNumber(strDate) {
                        return {
                            code: strDate.substr(0,3),
                            day: strDate.substr(3,2),
                            month: strDate.substr(5,3),
                            year: strDate.substr(8,2)
                        };
                    },

                    getLotteryData(dataString, code) {
                        var gameIndex = dataString.indexOf(code) + 2;
                        return dataString.substr(gameIndex, dataString.indexOf(";", gameIndex) - gameIndex);
                    },

                    onInit (promise) {
                        promise.then(() => {
                            console.log('Successfully initilized! Ready for scanning now!')
                        })
                        .catch(error => {
                            if (error.name === 'NotAllowedError') {
                            this.errorMessage = 'Hey! I need access to your camera'
                            } else if (error.name === 'NotFoundError') {
                            this.errorMessage = 'Do you even have a camera on your device?'
                            } else if (error.name === 'NotSupportedError') {
                            this.errorMessage = 'Seems like this page is served in non-secure context (HTTPS, localhost or file://)'
                            } else if (error.name === 'NotReadableError') {
                            this.errorMessage = 'Couldn\'t access your camera. Is it already in use?'
                            } else if (error.name === 'OverconstrainedError') {
                            this.errorMessage = 'Constraints don\'t match any installed camera. Did you asked for the front camera although there is none?'
                            } else {
                            this.errorMessage = 'UNKNOWN ERROR: ' + error.message
                            }
                        })
                    }
                }
            })
        </script>
    </body>
</html>
